@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>@Model.Message</h1>


<table class="table">

    <thead>
        <tr>
            <th>ID</th>
            <th>NAME</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var customer in Model.Customers)
         {
                <tr>
                    <td>@customer.ID</td>
                    <td>@customer.Name</td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@customer.ID">Edit</a>
                        <button type="submit" asp-page-handler="delete" asp-route-id="@customer.ID">delete</button>
                    </td>
                </tr>
         }
         
    </tbody>
</table>

<a asp-page="./Create">Create</a>